@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
    min-height: 100%;
    position  : relative;
}

body {
    font-family: 'Roboto', sans-serif;
}

textarea {
    width     : 100%;
    min-height: 200px;
    resize    : vertical;
    border    : 1px solid #1de9b6;
}

footer {
    width   : 100%;
    position: absolute;
    bottom  : 0;
    left    : 0;
}

#encodeDiv {
    display: block;
}

#decodeDiv {
    display: none;
}

#last {
    margin-bottom: 70px;
}