@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
    min-height: 100%;
    position  : relative;
}

body {
    font-family: 'Roboto', sans-serif;
}

textarea {
    width     : 100%;
    min-height: 200px;
    resize    : vertical;
    border    : 1px solid #26a69a;
}

footer {
    width   : 100%;
    position: absolute;
    bottom  : 0;
    left    : 0;
}

#encodeDiv {
    display: block;
}

#decodeDiv {
    display: none;
}

#last {
    margin-bottom: 70px;
}

.darkTheme {
    background-color: #111413 !important;
}

.darkTheme * {
    color: white;
}

.resultContainer {
    width           : 100%;
    min-height      : 200px;
    background-color: transparent;
    border          : 1px solid #26a69a;
    overflow-wrap   : break-word;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    padding: 0 1px 0;
}

.resultContainer a{
    color: #26a69a;
}

.col p, .btn-small{
    height: 25px!important;
    line-height: 25px!important;
}

.outputHeading{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}