@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
    min-height: 100%;
    position  : relative;
}

body * {
    font-family: 'Roboto', sans-serif;
    color      : black;
}

.darkTheme body * {
    color: white;
}

.col label {
    color: black;
}

.darkTheme .col label {
    color: white;
}

.brand-logo,
nav ul li a {
    color: black !important;
}

textarea {
    width     : 100%;
    min-height: 200px;
    resize    : vertical;
    border    : 1px solid #26a69a;
}

#encodeDiv {
    display: block;
}

#decodeDiv {
    display: none;
}

.darkTheme,
.darkTheme .sidenav,
.darkTheme .sidenav a {
    background-color: #111413 !important;
    color           : white !important;
}

.tabs.tabs-transparent .tab a:hover,
.tabs.tabs-transparent .tab a.active,
.btn,
.btn-small,
.sidenav-trigger {
    color: black !important;
}

.tab a.active {
    font-weight: bold;
}

.info a,
.resultContainer a {
    color: #26a69a !important;
}

.tabs.tabs-transparent .tab a,
.tabs.tabs-transparent .tab.disabled a,
.tabs.tabs-transparent .tab.disabled a:hover {
    color: rgba(37, 37, 37, 0.7) !important;
}

.resultContainer {
    width           : 100%;
    min-height      : 200px;
    background-color: transparent;
    border          : 1px solid #26a69a;
    overflow-wrap   : break-word;
    font-size       : 100%;
    line-height     : 1.15;
    margin          : 0;
    padding         : 0 1px 0;
}

.col p,
.btn-small,
.col label {
    height     : 25px !important;
    line-height: 25px !important;
}


.col>label {
    display              : block;
    -webkit-margin-before: 1em;
    margin-block-start   : 1em;
    -webkit-margin-after : 1em;
    margin-block-end     : 1em;
    -webkit-margin-start : 0px;
    margin-inline-start  : 0px;
    -webkit-margin-end   : 0px;
    margin-inline-end    : 0px;
}

@media only screen and (min-width: 1201px) {
    .col label {
        font-size: 15px;
    }
}

@media only screen and (max-width: 1200px) {
    .col label {
        font-size: 14.5px;
    }
}

@media only screen and (max-width: 992px) {
    .col label {
        font-size: 14px;
    }
}

.outputHeading {
    display        : flex;
    justify-content: space-between;
    align-content  : center;
    align-items    : center;
}

.container {
    padding-bottom: 20px;
}

.sr-only {
    position    : absolute;
    width       : 1px;
    height      : 1px;
    padding     : 0;
    margin      : -1px;
    overflow    : hidden;
    clip        : rect(0, 0, 0, 0);
    white-space : nowrap;
    border-width: 0;
}